.header-logo{
  text-align: center;
  font-size: 30px;
  color: #ff8264;
  font-weight: bold;
}

.header-menu ul li{
  list-style: none;
  float: left;
  width: 20%;
  padding: 8px 0;
  background-color:#ff8264;
  color: white;
  text-align: center;
}

ul{
  padding: 0;
  margin: 0;
}

